body {
	margin: 0px;
	font-family: sans-serif;

}

#page {
	/*width: 640px;*/
	margin: auto;
}


header {
	position: relative;
	background: #424862;
	height: 210px;
}


.blocHeader {
	display: flex;
	justify-content: space-around;
}

.websiteTitle {
	width: 300px;
	text-align: center;
	padding: 10px 40px;
	margin-top: 30px;
	font-size: 3em;
	border-radius: 4px;
	color: white;
}

.blocHeader nav {
	display: flex;
	margin-top: 20px;
	width: 30%;
	justify-content: space-between;
}

.blocHeader nav .accueil, .blocHeader nav .rechercheAvancee, .blocHeader nav .contact {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all linear 400ms;
}

.blocHeader nav .accueil {
	height: 36px;
	border: 3px solid #FB9A63;
	width: 38%;
	color: #424862;
	margin: 0px;
	background: white;
	font-size: 1em;
	padding: 4px 0px;
	font-weight: bold;
	text-decoration: none;
}

.blocHeader nav .rechercheAvancee, .blocHeader nav .contact {
	cursor: pointer;
	text-align: center;
	height: 36px;
	border: 3px solid #FB9A63;
	width: 56%;
	text-decoration: none;
	color: #424862;
	font-weight: bold;
	background: white;
	font-size: 0.85em;
	padding: 4px 0px;
}

.blocHeader nav .accueil:hover, .blocHeader nav .rechercheAvancee:hover, .blocHeader nav .contact:hover {
	background: #FEBC98;
	color: #424862;
	box-shadow: 0px 0px 10px black;
}

header h1 {
	font-size: 1.7em;
	margin: 0px;
	font-weight: normal;
	padding-top: 30px;
	padding-bottom: 100px;
}


.need {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.need div {
	padding-left: 12px;
	padding-top: 9px;
	font-size: 1.2em;
	color: #F6FBF4;
	cursor: pointer;
	background-color: #424862;
	border: #FB9A63 solid 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.need div:hover {
	transition: all linear 300ms;
	box-shadow: 0px 0px 20px 0px #424862;
	background: #BFC4D5;
	color: #424862;
}

.need div:active {
	box-shadow: 0px 0px 20px 0px;
}

section {
	margin-top: 20px;
	height: 325px;
	position: relative;
}

.franceMap {
	display:flex;
	justify-content: center;
	/*width: 320px;*/
	/*position: absolute;*/
	left: 150px;
}

.suggestion {
	border-top: 1px solid #FB9A63;
	padding: 10px;
	min-height: 170px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.suggestion div {
	text-align: center;
	font-size: 2em;
	padding: 20px;
	height: 80px;
	width: 90px;
	margin-bottom: 20px;
	border-radius: 10px;
	position: relative;
}

.suggestion div a {
	position: absolute;
	left: -1px;
	top: -1px;
	padding: 1px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: inline-block;
}

.suggestion div:hover {
	transition: all 200ms linear;
	box-shadow: 0px 0px 20px 0px #FEBC98;
}

div[id="paris"], div[id="nice"], div[id="lyon"], div[id="marseille"], div[id="bordeaux"], div[id="dijon"], div[id="avignon"], div[id="annecy"], div[id="tignes"] {
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 4px;
	background: #FFCFCF;
	position: absolute;
	cursor: pointer;
	z-index: 10;
	box-shadow: 0px 0px 3px black;
}

.linkCity {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 4px;
	position: absolute;
	left: -1px;
	top: -1px;
}

.cityInfo {
	position: absolute;
	z-index: 20;
	color: white;
	border-radius: 10px;
}

.cityInfo h1 {
	font-size: 1.3em;
	margin: 0px;
	text-align: center;
	padding: 4px 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 40px 0px 60px 0px;
}

.cityPicture {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 20px 10px 10px 10px;
	margin: 0px;
}

footer {
	background: #424862;
	padding: 20px 0px;
	margin-top: 25px;
	background: #;
	color: white;
	padding-bottom: 26px;
}

footer p {
	text-align: center;
	font-size: 1.8em;
}

footer .team {
	width: 30%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 2px;
}

footer .team span {
	display: block;
	width: 160px;
	font-size: 0.8em;
	margin: 6px 0px;
}

.need div {
	margin: 10px;
	width: 100px;
	padding: 15px;
	text-align: center;
	margin-bottom: 18px;

}

@media all and (max-width: 750px) {
	.need {
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		width: 400px;
		margin: auto;
		margin-top: 25px;
	}

	.websiteTitle {
		font-size: 2.6em;
	}

	.blocHeader nav {
		display: block;
	}

	.blocHeader nav .accueil, .blocHeader nav .rechercheAvancee, .blocHeader nav .contact {
		width: 80%;
		margin-bottom: 10px;
		min-width: 94px;
	}
	
	.suggestion div {
		margin: 4px;
	}

	}

	.indexMain{
		display: flex;

	.franceMap {
		border: solid red;
	}

	.suggestion {
		border-top: 1px solid blue;
		flex-wrap: nowrap;	
	}
}

